.hover-link {
  position: relative;
  overflow: hidden;
}

.hover-link-in1 {
  transition: transform 0.3s;
  transition-delay: 0s;
  transform: translateY(0);
}

.hover-link-in2 {
  position: absolute;
  top: 100%;
  left: 0;
  transition: transform 0.3s;
  transition-delay: 0s;
  transform: translateY(0);
  color: var(--accentColor);
}

.hover-link:hover .hover-link-in1,
.hover-link:hover .hover-link-in2 {
  transform: translateY(-100%);
  transition-delay: 0s;
}
